.step1 {
  top: 205px !important;
}

#tb-tutorial-btn:focus {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.driver-popover.customTooltip {
  max-width: 400px;
  width: 370px;
  border-radius: 0;
}
