/* .ecl-button:hover, #btn-country-ok:hover {
    box-shadow: 0 0 0 0.15rem #0e47cb0d;
    border: 2px solid #0e47cb;
    
} */





#menu {
    position: relative;
    padding: 0.2rem !important;
    margin-left: 2rem;
    width: 3rem;
    cursor: pointer;
    border: none;
    color: var(--tool-1);
    background-color: transparent;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;

}

span.iconText {
    font-size: 0.7em;
}

.btnGroup > i {
    font-size: 1.3em;
}

#chartBtns {
    display: flex;
    justify-content: flex-end;
}

.input:focus {
    box-shadow: var(--bs-btn-focus-box-shadow);
}

ul.dropdown-menu.dropdown-menu-end.show {
    z-index: 9999999999;
}


.min-with--nav:hover:not(.dropdown-toggle) {
    box-shadow: 0 2px 4px rgba(9, 49, 142, .08), 0 0 10px rgba(9, 49, 142, .04), 0 4px 5px rgba(9, 49, 142, .04), 0 -4px 4px rgba(9, 49, 142, .04);
    border: 2px solid #0e47cb;
    background-color: white;
    color: #0e47cb;
    opacity: 1;
    pointer-events: auto;
}


.form-switch.form-check-reverse {
    padding-right: 2.5em;
    padding-left: 1rem;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

span.agregates.fa-stack.fa-rotate-180 {
    font-size: .9rem;
}

.text-truncate {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

#floatingMenu > li {
    text-decoration: none;
    list-style-type: none;
}

#menuSwitch {
    display: flex;
}

ul#floatingMenu {
    display: flex;
}

#hideDetailsLabel,
#hideComponentsLabel {
    font-weight: bold;
}


.form-check-label:first-of-type {
    margin-right: 10px; /* Adjust as needed */
}

.form-check-label:last-of-type {
    margin-left: 10px; /* Adjust as needed */
}

#switchBtn {
    padding-right: 2.5em;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.round-btn {  
    background-color: #0e47cb;
    color: #fff;
    border: 2px solid #0e47cb;
    border-radius: 50%;
    min-height: 2.75rem;
    min-width: 44px;
    padding: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.2em !important;

} 

.round-btn:hover:not(:disabled), .round-btn:active {
    box-shadow: 0 2px 4px rgba(9,49,142,.08), 0 0 10px rgba(9,49,142,.04), 0 4px 5px rgba(9,49,142,.04), 0 -4px 4px rgba(9,49,142,.04);
    background-color: #fff;
    color: #0e47cb;
    border: 2px solid #0e47cb;

    box-shadow: 0 0 0 0.15rem #cca30000 !important;
    border: 2px solid #0e47cb !important;
    background-color: white !important;
    color: #0e47cb !important;
    opacity: 1;
    pointer-events: auto;
}

.round-btn:disabled {
    opacity: .7;
}

/* .close-chart-menu-btn {  
    color: #0e47cb;   
    background-color: #cfdaf5;   
    border-color: var(--bs-btn-active-border-color);  
    border-radius: 50%;
  }
  
  .close-chart-menu-btn:focus {
    outline: none;
  }
  
  .close-chart-menu-btn:hover, .btn:first-child:active {
    color: white;
    background-color: #0e47cb;
    border-color: var(--bs-btn-hover-border-color);
  }
   */


  .close-button-container {
    position: absolute;
    right: 15px;
    top: 15px;
    /* border-radius: 50%; */
}

.ecl-button--ghost {
    padding: 1rem;
}

.ecl-button--ghost:focus-visible {
    outline: 2px solid #0e47cb;
    padding: 1rem;
}

#toggleLanguageBtn:focus {
    box-shadow: 0 2px 4px rgb(167 186 231 / 19%), 0 0 10px rgb(167 186 231 / 19%), 0 4px 5px rgb(167 186 231 / 19%), 0 -4px 4px rgb(167 186 231 / 19%);
    text-decoration: none;
    color: white !important;
    background-color: var(--c-p-10) !important;
    border-color: var(--c-d) !important;
    color: var(--c-d) !important;
}

button#menu:focus, button#menu:active {
    background-color: #f3f6fc !important;
    /* height: 4rem; */
    align-items: center;
    justify-content: center;
    border-color: var(--tool-1) !important;
    box-shadow: 0 0 0 0.15rem #cca30000 !important;
    color: #0e47cb;
}

.ecl-button--secondary:active, .ecl-button--secondary:hover, .ecl-button--secondary:focus {
    background-color: #3e6cd5 !important;
    border-color: #3e6cd5 !important;
    color: #fff !important;
}

.ecl-button--primary:active, .ecl-button--primary:hover, .ecl-button--primary:focus {
    background-color: #3e6cd5 !important;
    background-color: #fff !important;
    border: 2px solid #0e47cb !important;
    color: #0e47cb !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Prevents text wrapping */
    border: 0;
  }


  .highlighDisbleBtn {
    background-color: #fff  !important;
    border: 2px solid #3e6cd5 !important;
    color: #3e6cd5 !important;
    box-shadow: 0 0 0 0.15rem #cca30000 !important;
}

btn:active, .btn:hover, .btn:focus-visible, .btn.show, .btn:focus, .introjs-button:focus {
    box-shadow: 0 2px 4px rgb(167 186 231 / 19%), 0 0 10px rgb(167 186 231 / 19%), 0 4px 5px rgb(167 186 231 / 19%), 0 -4px 4px rgb(167 186 231 / 19%);
    text-decoration: none;
    color: white !important;
    /* border-color: transparent !important;
    background-color: #CCA300!important;
    border-color: #CCA300 !important; */
    background-color: var(--c-p-10)!important;
    border-color: var(--c-d)!important;
    color: var(--c-d)!important;
}