#chartOptionsMenu {
  position: absolute;
  top: 4rem;
  left: 2.7rem;
  z-index: 999999999;
  background-color: #f3f6fc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 95vw;
  /* height: 18vh; */
  padding: 1.5rem;
}

.dropdownBtnGroup {
  padding-bottom: 1rem;
}

#chartOptionsMenu:focus {
  border: 1px solid transparent;
}
#chartOptionsMenu:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.dropdownBtnGroup > label:not(.min-with--geo) {
  font-size: 0.8em;
  margin-left: 0.6rem;
  line-height: 0.5rem;
  color: #656872;
}

.dropdownBtnGroup button:not(.min-with--geo) {
  background-color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 0px;
  border-radius: 4px;
  height: 2.5rem;
  border: 1px solid gray;
  cursor: pointer;
  font: normal normal 400 1rem/1.25rem arial,sans-serif;
  box-shadow: inset 0 2px 4px rgb(9 49 142 / 8%), inset 0 0 10px rgb(9 49 142 / 4%), inset 0 4px 5px rgb(9 49 142 / 4%), inset 0 -4px 4px rgb(9 49 142 / 4%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  position: relative;
}

.dropdownBtnGroup button:focus {
  border-color: #0e47cb;
  border-width: 2px;
  box-shadow: inset 0 3px 5px rgb(9 49 142 / 4%), inset 0 0 18px rgb(9 49 142 / 4%), inset 0 6px 10px rgb(9 49 142 / 4%), inset 0 -4px 4px rgb(9 49 142 / 4%);
  outline: none;
}




button#selectCountry {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}


i.fas.fa-angle-down {
  display: flex;
  background-color: var(--tool-1);
  width: 2.5rem;
  height: 2.5rem;
  border-top-right-radius: 0.235rem;
  border-bottom-right-radius: 0.235rem;
  color: white;
  font-size: 1.5em;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-left: -20rem; */
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 9999999 !important;
}

.fa-angle-down:before {
  content: "\f107";
  -webkit-text-stroke: 1.5px var(--tool-1);

}

#selectCountry > i {
  position: absolute;
  right: 0;
}

.dropdown-toggle {
  appearance: none;
  background-color: transparent;
  border: 1px solid #515560;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgb(9 49 142 / 8%), inset 0 0 10px rgb(9 49 142 / 4%), inset 0 4px 5px rgb(9 49 142 / 4%), inset 0 -4px 4px rgb(9 49 142 / 4%);
  box-sizing: border-box;
  color: #171a22 !important;
  cursor: pointer;
  display: block;
  font: normal normal 400 1rem/1.25rem arial,sans-serif;
  margin: 0;
  padding-bottom: calc(0.75rem - 1px);
  padding-inline-end: calc(3.5rem - 1px);
  padding-inline-start: calc(0.75rem - 1px);
  padding-top: calc(0.75rem - 1px);
  width: 100%;
  z-index: 1;
}

ul.dropdown-menu {
  width: 20.3rem;
  border: transparent;
  border-radius: 2px;
  box-shadow: 0 7px 8px rgb(9 49 142 / 8%), 0 0 22px rgb(9 49 142 / 4%), 0 12px 17px rgb(9 49 142 / 4%), 0 -4px 4px rgb(9 49 142 / 4%);
  line-height: 1.15;
  background-color: #f9f9f9;
}


#dropdown-geo-list a:nth-child(1),
#dropdown-geo-list a:nth-child(3),
#dropdown-geo-list a:nth-child(30),
#dropdown-geo-list a:nth-child(33) {
    border-bottom: 2px solid #c7c1c1;
}



/* .dropdownBtnGroup .btn:focus-visible:not(.min-with--geo), .dropdownBtnGroup .btn.active:not(.min-with--geo), :not(.btn-check) + .btn:active:not(.min-with--geo), .dropdownBtnGroup .btn:hover:not(.min-with--geo), .dropdownBtnGroup .show:not(.min-with--geo) {
  color: black !important;
  background-color: white !important;
  border: 1px solid gray !important;
  -webkit-padding-end: calc(3.5rem - 1px);
  -webkit-padding-start: calc(0.75rem - 1px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #515560;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgb(9 49 142 / 8%), inset 0 0 10px rgb(9 49 142 / 4%), inset 0 4px 5px rgb(9 49 142 / 4%), inset 0 -4px 4px rgb(9 49 142 / 4%);
  box-sizing: border-box;
  color: #171a22;
  cursor: pointer;
  font: normal normal 400 1rem/1.25rem arial,sans-serif;
  margin: 0;
  padding-bottom: calc(0.75rem - 1px);
  padding-inline-end: calc(3.5rem - 1px);
  padding-inline-start: calc(0.75rem - 1px);
  padding-top: calc(0.75rem - 1px);
  z-index: 1;
} */




.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  padding: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}


.dropdown-item:not(:last-child) {
  text-size-adjust: 100%;
  border-bottom: 1px solid lightgray;
}

.dropdown-item:focus,
.dropdown-item:hover, 
.dropdown-item:focus-visible {
  color: black;
  background-color: var(--tool-3);
  outline: -webkit-focus-ring-color auto 0px;
}

a.dropdown-item.selected {
  color: black;
  background-color: var(--tool-3);
}

.menuOpen {
  background-color: #f3f6fc;
  height: 100%;

}


.toggleMenu {
  display: none !important;
}



/* .close-chart-menu-btn:hover span {
  background-color: #aaa;
  color: #fff;
}

.close-chart-menu-btn:focus span {
  background-color: #aaa;
  color: #fff;
} */


.traped_focus:focus {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.important-styles {
  box-shadow: 0 0 0 0.15rem #cca30000 !important;
  background-color: #cca30000 !important;
  color: #0e47cb !important;
}

