

#componentFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-bottom: 1rem;
}

.ecl-site-footer__list-item:first-of-type {
  margin-top: 0.5rem !important;
}

.ecl-site-footer {
  background-color: inherit;
  box-shadow: 0px 0px 0px rgb(255 255 255 / 0%);
  color: #171a22;
  display: flex;
  font: normal normal 400 1rem/1.5rem arial,sans-serif;
  margin: 0;
  justify-content: flex-end;
}


.ecl-link {
  text-decoration: none;
  padding: 0.75rem;
  font-size: 16px;
  /* WCAG 2.5.8: Ensure minimum touch target */
  min-height: 44px;
  display: inline-flex;
  align-items: center;
}

.ecl-link:focus-visible {
  outline: 3px solid #000;
  outline-offset: 2px;
  background-color: rgba(14, 71, 203, 0.1);
  border-radius: 4px;
}

#footerCredits > hr {
  height: 1.5vh;
  width: 0.1vw;
  border-width: 0;
  background-color: var(--main-color);
  margin: 0.9rem 0 0 0;
  opacity: 1;
}

.btn-relative {
  position:relative;
}

.form-check-label {
  font-size:14px;
}

.ecl-site-footer__list-item a {
  border-right: 1px solid #0e47cb;
  padding: 0.3rem 1rem;
}

.ecl-site-footer__list-item:last-child a {
  border-right: none
}


