:root {
    --main-color: #0026f7;
    --bs-border-radius: 0.2rem;
    --width-100: 100vw;
    --nav-color: #0E47CB;
    --sub-nav-color: #F3F3F3;
    --tool-1: #004494;
    --tool-2: #3E6CD5;
    --tool-3: #8AA7E8;
    --btn-color: #0E47CB;
    --hover-color: #3E6CD5;
    --text-main-color: #262b38;
}

/* Modern CSS Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

body {  
  color: #333;
}

#page {
  min-height: 85vh;
}

#chart {
  width: 97vw;
  height: 73vh;
  padding-top: 1rem;
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate3d(25, -10.5, 6, 127deg);
  transform: rotate3d(25.5, -10.5, 6, 127deg);
}

@media screen {
  .highcharts-title {
    display: none;
  }
}

@media print {
  .highcharts-title {
    display: block;
  }
}

.modal-body > p {
  word-break: break-all;
  font-size: .8em;
}

.center-align {
  display: flex;
  align-content: center;
}

.ecl-select__multiple .ecl-select-multiple-selections-counter * {
  box-sizing: initial !important;
}




.ecl-modal--s .ecl-modal__content {
  max-height: initial;
}

header.ecl-modal__header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.ecl-modal__body {
  padding: 0;
}

.ecl-modal__body > p, #btnControl {
  padding: 1rem !important;
}

.ecl-modal__footer {
  padding: 1rem;
}

.ecl-modal__body-scroll {
  word-break: break-all;
  text-align: justify;
  overflow-y: auto;
  padding: 1rem;
}

tspan#credits {
  fill: #262B38 !important;
}


.tooltip {
  position: absolute;
  background: #fffffff6;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  border: 4px solid #0e47cb;
  border-radius: 10px;
}

.tooltip.visible {
  opacity: 1;
  pointer-events: auto;
}